#{extends 'main.html' /}
#{set title:'Home' /}

	<div class="container">
		<!--<div class="col-md-8">-->
		    #{list items:DailyStats, as:'oneDay'}
		    			${oneDay.date}
		    
						${oneDay.table1.get("买入及卖出成交额 (RMB mil)")}
            #{/list}
            
  
	<!--
		    <div class="input-group date " id="datetimepicker1">
	      		 <input type="text" class="form-control" placeholder="输入结束日期" value="" id="dpd1">
		            <span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar">
						</span>
					</span>
				
		        <input type="text" class="form-control" placeholder="输入起始日期" value="" id="dpd2">		    	
	            <span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar">
					</span>
				</span>			
			
			</div>
				
	 -->	 
	 <div class="container">     
			<div class="row-fluid">
			
			    <button type="submit" class="btn btn-primary col-md-1 " onclick="weeklyOnclick();">最近一周</button>
			    
				<button type="submit" class="btn btn-primary col-md-1 " onclick="monthlyOnclick();">最近一月</button>
				
				<button type="submit" class="btn btn-primary col-md-1 " onclick="allOnclick();">全部</button>
			    <div class='col-md-3'>
			        <div class="form-group">
			            <div class='input-group date' id='datetimepicker6'>
			                <input type='text' class="form-control" id='datetimepickerFrom' />
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
			        </div>
			    </div>
			    <div class='col-md-3'>
			        <div class="form-group">
			            <div class='input-group date' id='datetimepicker7'>
			                <input type='text' class="form-control" id='datetimepickerTo' />
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
			        </div>
			    </div>
				
				<button type="submit" class="btn btn-primary col-md-1 " onclick="selectOnclick();">选择</button>
				    
			</div>
		</div> 		
		
			<hr>
			<!--Div that will hold the progress bar -->
			<div id=progressBar class="progress progress-striped active" style="display:none;">
			   <div id="progress2" class="progress-bar progress-bar-success" role="progressbar" 
			      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 	
			      style="width: 100%;">
			      <span class="sr-only">90%</span>
			   </div>
			</div>

			<!--Div that will hold the columnChart-->
   			 <div id="columnchart_2SH" style="width: 1280px; height: 400px;"></div>
   			 
   			<!--Div that will hold the columnChart-->
   			 <div id="columnchart_2HK" style="width: 1280px; height: 400px;"></div>
   			 
	    	<!--Div that will hold the areaChart
   			 <div id=areaChart_div style="width: 1280px; height: 500px;"></div>
   			 -->
   			 
    		<!--Div that will hold the BubbleChart
    		<div id="series_chart_div" style="width: 800px; height: 600px;">
    		</div>
    		-->
		<!--  </div>-->
	</div>

<script type="text/javascript" src="public/javascripts/index.js"></script>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">




            